{% apply inline_css %}
<style>
	.async-module {}
	.async-module .landing-video {
		min-width: 45%;
		padding: 0 15px 20px;
	}
	.async-module .videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		margin-bottom: 1em;
	}
	.async-module .videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
</style>
{% endapply %}

<div class="d-flex container">
	{% include 'breadcrumbs.twig' %}
</div>
<div class="container async-module mt-4 mb-4">
	<div>
		{# LANDING CONTENT #}
		<div class="d-flex landing-content flex-wrap flex-md-nowrap">
			{% for content in module.landingContents %}
				{% if content.type == "TEXT" %}
					<div class="d-flex flex-column">
						{# PAGE TITLE #}
						{% if module.title %}
							<h1>{{module.title}}</h1>
						{% endif %}
						{% for paragraph in content.paragraphs %}
							<p>{{paragraph | raw}}</p>
						{% endfor %}
						<p>
							{% set lesson = module.lessons|first %}
							{% set lessonPage = lesson.pages|first %}
							<a href="{{linkRoot}}{{module.anchor}}/{{lessonPage.anchor}}" class="btn btn-primary">
								Get Started <span class="fa fa-arrow-right" aria-hidden="true"></span>
							</a>
						</p>
					</div>
				{% endif %}
				{% if content.type == "VIDEO" %}
					<div class="d-flex flex-column landing-video flex-grow-1">
						{% if content.video.warpwire %}
							<div class="videoWrapper">
								<iframe class="d-flex" src="{{base_url_warpwire}}/w/{{content.video.warpwire}}/?share=0&title=0" frameborder="0" scrolling="0" allow="autoplay; encrypted-media; fullscreen;  picture-in-picture;" allowfullscreen></iframe>
							</div>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<hr>
		<h4>Lessons in this Module</h4>
	</div>
	{% set linkRoot = module.anchor ~ '/' %}
	{% include 'async-module-lessons-list.twig' %}
</div>
