{# courseData -> genericImg, breadcrumbs, course, moduleData -> module, contextRoot, moduleUrl,  #}

<div class="container">
	<h1>Browse Courses</h1>
	<p class="lead">Explore self-paced courses as well as content on a variety of topics and technologies.</p>

	<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link active" id="browse-tab-1" data-mdb-toggle="tab" href="#browse-tab-content-1" role="tab" aria-controls="browse-tab-content-1" aria-selected="true">All Courses</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="browse-tab-2" data-mdb-toggle="tab" href="#browse-tab-content-2" role="tab" aria-controls="browse-tab-content-2" aria-selected="false">In Progress</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="browse-tab-3" data-mdb-toggle="tab" href="#browse-tab-content-3" role="tab" aria-controls="browse-tab-content-3" aria-selected="false">Completed</a>
		</li>
	</ul>
	<!-- Tabs navs -->

	<!-- Tabs content -->
	<div class="tab-content" id="ex1-content">
		<div class="tab-pane fade show active" id="browse-tab-content-1" role="tabpanel" aria-labelledby="browse-tab-1">
			{% for courseData in allCourses %}
				<div class="mt-4 mb-4">
					<h4>{{courseData.course.title}}</h4>
					<div class="d-flex gap-4 justify-content-center flex-wrap pb-4 pt-3">
						{% for moduleDataItem in courseData.moduleData %}
							<div class="card" style="width: 18rem;">
								<img src="{{ moduleDataItem.module.image ? moduleDataItem.contextRoot ~ moduleDataItem.module.image : courseData.genericImg}}" class="card-img-top" alt="General image for {{moduleDataItem.module.title}}"/>
								<div class="card-body d-flex flex-column justify-content-between">
									<div>
										<h5 class="card-title">{{moduleDataItem.module.title}}</h5>
										{# <h6 class="card-subtitle mb-2 text-muted">Module Subtitle</h6> #}
										<p class="card-text">Perhaps a short module teaser of some kind.</p>
									</div>
									<a href="{{moduleDataItem.moduleUrl}}" class=" stretched-link"></a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="tab-pane fade" id="browse-tab-content-2" role="tabpanel" aria-labelledby="browse-tab-2">
			Tab 2 content
		</div>
		<div class="tab-pane fade" id="browse-tab-content-3" role="tabpanel" aria-labelledby="browse-tab-3">
			Tab 3 content
		</div>
	</div>
</div>
