{#
'moduleMetadata.greeting' => $moduleMetadata.,
'regDate' => $regDate,
'location' => $location,
'moduleMetadata.buttonAction' => $moduleMetadata.buttonAction,
'moduleMetadata.ltiUrl' => $buttonmoduleMetadata.LtiUrl,
'loginUrl' => $loginPath,
'attended' => $attended,
'absent' => $absent,
'registered' => $registered,
'moduleMetadata.facilitatorBasePath',
#}

{% set prevPage = prevModule %}
{% set nextPage = nextModule %}

<div class="d-flex justify-content-between container">
	{% include 'breadcrumbs.twig' %}
	{% include 'generic-prev-next-nav.twig' %}
</div>
<div class="container mb-5">
	<!--Grid row-->
	<div class="row">
		<!--Grid column-->
		<div class="bg-image rounded" style="background-image:url('{{contextRoot ~ module.image}}');" aria-label="{{ module.imagealt }}">
			<!--Content-->
			<div class="m-4 p-4 rounded text-white" style="background: linear-gradient(45deg,rgba(29, 236, 197, 0.8),rgba(91, 14, 214, 0.8) 100%);">
				<p class="lead mb-0" property="oer:name">
					{% if module.icon %}
						<i class="fa {{module.icon}} pe-1" aria-hidden="true"></i>
					{% endif %}
					<span>{{module.session}}</span>
				</p>
				<h3 class="fw-normal">{{module.title}}</h3>
				<p property="oer:description" class="tsugi-lessons-module-description">{{module.description | raw}}</p>
				{% if moduleMetadata.registered or moduleMetadata.absent or moduleMetadata.attended %}
					<h5 class="fw-normal">{{moduleMetadata.greeting}}</h5>
					<p class="mb-4">
						{{moduleMetadata.regDate | date('D, M j, Y g:i a')}}
						-
						{{moduleMetadata.location}}
					</p>
				{% endif %}
				{% if moduleMetadata.buttonAction != null %}
					{% if moduleMetadata.buttonAction == 'LOGIN' %}
						<a class="btn btn-outline-light" href="{{moduleMetadata.loginUrl}}" role="button">
							<i class="fa fa-lock" aria-hidden="true"></i>
							Login to Register
						</a>
					{% elseif moduleMetadata.buttonAction == 'REGISTER' %}
						<a class="btn btn-white" href="{{moduleMetadata.ltiUrl}}" role="button">
							Register
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					{% elseif moduleMetadata.buttonAction == 'COMPLETE' %}
						<a class="btn btn-success" href="{{moduleMetadata.ltiUrl}}" role="button">
							<i class="fas fa-check-circle" aria-hidden="true"></i>
							Complete
						</a>
					{% elseif moduleMetadata.buttonAction == 'FEEDBACK' %}
						<a class="btn btn-primary" href="{{moduleMetadata.ltiUrl}}" role="button">
							Provide Feedback
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					{% elseif moduleMetadata.buttonAction == 'CHANGE' %}
						<a class="btn btn-white" href="{{moduleMetadata.ltiUrl}}" role="button">
							Change Registration
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					{% else %}
						<a class="btn btn-white" href="{{moduleMetadata.ltiUrl}}" role="button">
							Register
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					{% endif %}
					{% if moduleMetadata.meetingLink and moduleMetadata.buttonAction == 'CHANGE' %}
						<a class="btn btn-outline-white ms-4" href="{{ moduleMetadata.meetingLink }}" target="_blank">
							Launch Zoom Session
						</a>
					{% endif %}
				{% else %}
					<p class="mb-2 pt-2"><em>No Registration Required</em></p>
				{% endif %}
			</div>
			<!--Content-->
		</div>
		<!--Grid column-->
	</div>
	<div class="clearfix">
		<div class="card col-lg-5 float-lg-end mt-4 mb-3 ms-md-3 border rounded shadow">
			<h4 class="text-center py-2 mt-1">Upcoming Sessions</h4>
			<ul class="list-group list-group-flush">
				{% for session in upcomingSessions %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<div class="fw-bold">{{ session.session_date }} at {{ session.session_time }}</div>
							<div class="text-muted">{{ session.session_location }}</div>
						</div>
						<span class="badge rounded-pill badge-info" style="font-size: 1rem;">{{ session.duration }}</span>
					</li>
				{% endfor %}
			</ul>
			{% if moduleMetadata.buttonAction != null %}
				{% if moduleMetadata.buttonAction == 'LOGIN' %}
					<a class="btn btn-primary" href="{{moduleMetadata.loginUrl}}" role="button">
						Login to Register
					</a>
				{% elseif moduleMetadata.buttonAction == 'REGISTER' %}
					<a class="btn btn-primary" href="{{moduleMetadata.ltiUrl}}" role="button">
						Register
					</a>
				{% elseif moduleMetadata.buttonAction == 'COMPLETE' %}
					<a class="btn btn-success" href="{{moduleMetadata.ltiUrl}}" role="button">
						Complete
					</a>
				{% elseif moduleMetadata.buttonAction == 'FEEDBACK' %}
					<a class="btn btn-primary" href="{{moduleMetadata.ltiUrl}}" role="button">
						Provide Feedback
					</a>
				{% elseif moduleMetadata.buttonAction == 'CHANGE' %}
					<a class="btn btn-primary" href="{{moduleMetadata.ltiUrl}}" role="button">
						Change Registration
					</a>
				{% else %}
					<a class="btn btn-primary" href="{{moduleMetadata.ltiUrl}}" role="button">
						Register
					</a>
				{% endif %}
			{% else %}
				<p class="mb-2 pt-2 text-center text-muted"><em>No Registration Required</em></p>
			{% endif %}
		</div>
		{% if module.introContents %}
			{% for introContent in module.introContents %}
				{{introContent | raw}}
			{% endfor %}	
		{% endif %}
		<h5 class="mt-4">
			<i class='fa fa-group fa-fw' aria-hidden='true'></i>
			Session Facilitator(s)
		</h5>
		<ul class="list-group list-group-light list-group-small mb-4" style="margin-left:calc(1.25em + 11px);">
			{% for facilitator in module.facilitators %}
				<li class="list-group-item d-flex align-items-center">
					{% if facilitator.image_url and facilitator.image_url != '' %}
						<div class="image-container"><img class="profile" src="{{facilitator.image_url}}" alt="{{facilitator.displayname}}"/></div>
					{% else %}
						<div class="image-container"><img class="profile" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="{{facilitator.displayname}}"/></div>
					{% endif %}
					<div class="ms-3">
						<h5 class="fw-normal mb-1"><a href="{{moduleMetadata.facilitatorBasePath}}/{{facilitator.facilitator_id}}">{{facilitator.displayname}}</a></h5>
						{% if facilitator.department %}
							<p class="text-muted mb-0">{{facilitator.title}}, {{facilitator.department}}</p>
						{% else %}
							<p class="text-muted mb-0">{{facilitator.title}}</p>
						{% endif %}
					</div>
				</li>
			{% endfor %}
		</ul>
		{% if module.contents %}
			{% set contents = module.contents %}
			{% include 'generic-contents.twig' %}
		{% endif %}
		{% if module.learningoutcomes %}
			<h5>
				<i class="fas fa-chalkboard-teacher fa-fw" aria-hidden="true"></i>
				Learning Outcomes
			</h5>
			<p style="margin-left:calc(1.25em + 11px);">As a result of attending this session, participants will be able to:</p>
			<ol class="list-group list-group-light list-group-small list-group-numbered mb-2" style="margin-left:calc(1.25em + 11px);">
				{% for outcome in module.learningoutcomes %}
					<li class="list-group-item d-flex justify-content-between align-items-start px-4">
						<div class="ms-2 me-auto">{{outcome}}</div>
					</li>
				{% endfor %}
			</ol>
		{% endif %}
		{% if module.resources %}
			<h5>
				<i class="fas fa-desktop fa-fw" aria-hidden="true"></i>
				Session Resources
			</h5>
			<p style="margin-left:calc(1.25em + 11px);">The resources below will be available once you've attended the session.</p>
			<ul class="list-group list-group-small mb-2" style="margin-left:calc(1.25em + 11px);">
				{% for resource in module.resources %}
					{% if moduleMetadata.attended %}
						<li class="list-group-item">
						<a class="ms-4" href="{{resource.url}}" target="_blank">
							<i class="{{resource.icon}}" aria-hidden="true"></i>
							{{resource.title}}
						</a>
						</li>
					{% else %}
						<span class="ms-4">
						<i class="{{resource.icon}}" aria-hidden="true"></i>
						{{resource.title}}
						<em class="text-muted">(Attendance Required)</em>
						</span>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>
