{#
'moduleMetadata.greeting' => $moduleMetadata.,
'regDate' => $regDate,
'location' => $location,
'moduleMetadata.buttonAction' => $moduleMetadata.buttonAction,
'moduleMetadata.ltiUrl' => $buttonmoduleMetadata.LtiUrl,
'loginUrl' => $loginPath,
'attended' => $attended,
'absent' => $absent,
'registered' => $registered,
#}

{% set prevPage = prevModule %}
{% set nextPage = nextModule %}

<div class="d-flex justify-content-between container">
	{% include 'breadcrumbs.twig' %}
	{% include 'generic-prev-next-nav.twig' %}
</div>
<div class="container mt-4 mb-5">
	<div class="p-5 text-center bg-image" style="background-image: url('{{contextRoot ~ module.image}}');height: 400px;">
		<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
			<div class="d-flex justify-content-center align-items-center h-100">
				<div class="text-white">
					<h4 property="oer:name" class="tsugi-lessons-module-title mb-3">{{module.session}}</h4>
					<h1 class="mb-3">{{module.title}}</h1>
					{% if moduleMetadata.registered or moduleMetadata.absent or moduleMetadata.attended %}
						<h5 class="fw-normal">{{moduleMetadata.greeting}}</h5>
						<p class="mb-4">
							{{moduleMetadata.regDate | date('D, M j, Y g:i a')}}
							-
							{{moduleMetadata.location}}
						</p>
					{% endif %}
					{% if moduleMetadata.buttonAction == 'LOGIN' %}
						<a class="btn btn-outline-light btn-lg" href="{{loginUrl}}" role="button">
							<i class="fa fa-lock" aria-hidden="true"></i>
							Login to Register
						</a>
					{% elseif moduleMetadata.buttonAction == 'REGISTER' %}
						<a class="btn btn-white btn-lg" href="{{moduleMetadata.ltiUrl}}" role="button">
							<i class="fa fa-check" aria-hidden="true"></i>
							Register
						</a>
					{% elseif moduleMetadata.buttonAction == 'COMPLETE' %}
						<a class="btn btn-success btn-lg" href="{{moduleMetadata.ltiUrl}}" role="button">
							<i class="fas fa-check-circle" aria-hidden="true"></i>
							Complete
						</a>
					{% elseif moduleMetadata.buttonAction == 'FEEDBACK' %}
						<a class="btn btn-primary btn-lg" href="{{moduleMetadata.ltiUrl}}" role="button">
							Provide Feedback
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					{% elseif moduleMetadata.buttonAction == 'CHANGE' %}
						<a class="btn btn-white btn-lg" href="{{moduleMetadata.ltiUrl}}" role="button">
							Change Registration
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					{% else %}
						<a class="btn btn-white btn-lg" href="{{moduleMetadata.ltiUrl}}" role="button">
							Register
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<h5 class="mt-4">Session Description</h5>
	<p property="oer:description" class="tsugi-lessons-module-description">{{module.description}}</p>
	<h5>
		<i class='fa fa-group fa-fw' aria-hidden='true'></i>
		Session Facilitator(s)
	</h5>
	<ul class="list-group list-group-light list-group-small mb-4" style="margin-left:calc(1.25em + 11px);">
		{% for facilitator in module.facilitators %}
			<li class="list-group-item d-flex align-items-center">
				<div class="image-container"><img class="profile" src="{{facilitator.image_url}}" alt="{{facilitator.displayname}}"/></div>
				<div class="ms-3">
					<h5 class="fw-normal mb-1">{{facilitator.displayname}}</h5>
					<p class="text-muted mb-0">{{facilitator.title}}</p>
				</div>
			</li>
		{% endfor %}
	</ul>
	{% if module.learningoutcomes %}
		<h5>
			<i class="fas fa-chalkboard-teacher fa-fw" aria-hidden="true"></i>
			Learning Outcomes
		</h5>
		<p style="margin-left:calc(1.25em + 11px);">As a result of attending this session, participants will be able to:</p>
		<ol class="list-group list-group-light list-group-small list-group-numbered mb-2" style="margin-left:calc(1.25em + 11px);">
			{% for outcome in module.learningoutcomes %}
				<li class="list-group-item d-flex justify-content-between align-items-start px-4">
					<div class="ms-2 me-auto">{{outcome}}</div>
				</li>
			{% endfor %}
		</ol>
	{% endif %}
	{% if module.resources %}
		<h5>
			<i class="fas fa-desktop fa-fw" aria-hidden="true"></i>
			Session Resources
		</h5>
		<p style="margin-left:calc(1.25em + 11px);">The resources below will be available once you've attended the session.</p>
		<ul class="list-group list-group-small mb-2" style="margin-left:calc(1.25em + 11px);">
			{% for resource in module.resources %}
				{% if attended %}
					<span>
						<a class="ms-4" href="{{resource.url}}" target="_blank">
							<i class="{{resource.icon}}" aria-hidden="true"></i>
							{{resource.title}}
						</a>
					</span>
				{% else %}
					<span class="ms-4">
						<i class="{{resource.icon}}" aria-hidden="true"></i>
						{{resource.title}}
						<em class="text-muted">(Attendance Required)</em>
					</span>
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}
</div>
