<div class="col-md-4 m-2 mb-4 d-flex align-items-stretch">
	<div class="card w-100">
		<div class="bg-image">
			<img class="img-fluid" src="{{ moduleDataItem.module.image ? moduleDataItem.contextRoot ~ moduleDataItem.module.image : genericImg}}"/>
			{% if moduleDataItem.module.duration %}
				<div class="card-time">
					<span class="far fa-clock" aria-hidden="true"></span>
					{{moduleDataItem.module.duration}}
				</div>
			{% endif %}
		</div>
		<div class="card-body pb-0">
			<div>
				<h6 class="card-subtitle mt-1 mb-2 text-muted">
					{% if moduleDataItem.module.icon %}
						<i class="fa ' . $module->icon . ' pe-1" aria-hidden="true"></i>
					{% endif %}
					{{moduleDataItem.module.session}}
				</h6>

				<h5 class="card-title pb-2">{{moduleDataItem.module.title}}</h5>
				{% if module.teaser %}
					<p class="card-text">
						{{ moduleDataItem.module.teaser|length > 50 ?
          moduleDataItem.module.teaser|slice(0, 50) ~ '...' : module.teaser }}
					</p>
				{% endif %}
			</div>
		</div>
		<div class="card-footer border-top-0 pt-0 d-flex align-">
			<a href="{{moduleDataItem.moduleUrl}}" class="btn btn-link" data-mdb-ripple-color="dark">View Details</a>
		</div>
	</div>
</div>
