{% apply inline_css %}
<style>
	.async-module-lessons-list {
		min-width: 250px;
	}
	.async-module-lessons-list .teaser-li {
		padding-top: 0;
		padding-left: 10px;
		font-size: 14px;
	}
	.async-module-lessons-list .page-li {
		padding-left: 38px;
	}
	.async-module-lessons-list .page-title {
		margin-left: 10px;
	}
	.async-module-lessons-list .expand-icon-wrapper {
		margin-right: 5px;
		width: 20px;
		display: inline-block;
		text-align: center;
	}
	.async-module-lessons-list .expand-button[aria-expanded=true] .fa-chevron-right {
		display: none;
	}
	.async-module-lessons-list .expand-button[aria-expanded=false] .fa-chevron-down {
		display: none;
	}
	.async-module-lessons-list .list-link {
		border-radius: 0 !important;
	}
	.async-module-lessons-list .progress-icon {
		padding-right: 5px;
	}
	.lesson-subpage {
		margin-left: 1.5em;
	}
</style>
{% endapply %}

{% macro showClass(collapsed, activePage, lesson) %}
	{% set break = false %}
	{% for lessonPage in lesson.pages %}
		{% if not break and (collapsed == false or (lessonPage.anchor == activePage.anchor)) %}
			show
			{% set break = true %}
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro showExpanded(activePage, lesson) %}
	{% for lessonPage in lesson.pages %}
		{% if lessonPage.anchor == activePage.anchor %}true{% endif %}
	{% endfor %}
{% endmacro %}

<div class="async-module-lessons-list">
	{% for idx, lesson in module.lessons %}
		<h6 class="p-2 border expand-button" href="#!" role="button" data-mdb-toggle="collapse" data-mdb-target="#collapse-{{idx}}" aria-expanded="{{'show' in _self.showClass('false', page, lesson) ? 'true' : 'false'}}" aria-controls="collapse-{{idx}}">
			<span class="expand-icon-wrapper">
				<i class="fas fa-chevron-right"></i>
				<i class="fas fa-chevron-down"></i>
			</span>
			{# PROGRESS INDICATOR FOR LESSON #}
			{% set moduleProgress = attribute(progress, program ~ '_' ~ module.anchor) %}
			{% set moduleProgress = attribute(progress, program ~ '_' ~ module.anchor) %}
			{% set atLeastOneComplete = false %}
			{% set atLeastOneNotComplete = false %}
			{% if moduleProgress is null  %}
				{% set icon = '<i class="far fa-circle progress-icon"></i>' %}
			{% else %}
				{# Check status of all pages to set lesson icon #}
				{% for lessonPage in lesson.pages %}
					{% set progressIndicator = attribute(moduleProgress, lessonPage.anchor) %}
					{% if progressIndicator and progressIndicator != 'LTI_FAILED' and progressIndicator != 'LTI_UNATTEMPTED' %}
						{% set atLeastOneComplete = true %}
					{% else %}
						{% set atLeastOneNotComplete = true %}
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if icon %}
				{{icon | raw}}
			{% elseif atLeastOneComplete and atLeastOneNotComplete == false %}
				<i class="fas fa-check-circle text-success progress-icon"></i>
			{% elseif atLeastOneComplete %}
				<i class="fas fa-minus-circle text-info progress-icon"></i>
			{% else %}
				<i class="far fa-circle progress-icon"></i>
			{% endif %}
			{{lesson.title}}
		</h6>
		<ul class="list-group list-group-light mb-4 collapse {{_self.showClass('false', page, lesson)}} mt-3" id="collapse-{{idx}}">
			{% if lesson.teaser != "" %}<li class="teaser-li list-group-item d-flex justify-content-between align-items-center">{{lesson.teaser}}</li>{% endif %}
			{% for lessonPage in lesson.pages %}
				<a href="{{linkRoot}}{{lessonPage.anchor}}" class="list-link {{page.anchor == lessonPage.anchor ? 'active' : ''}} {{lessonPage.subpage}} page-li list-group-item d-flex justify-content-between align-items-center">
					<div
						class="d-flex align-items-center">
						{# PROGRESS INDICATOR FOR PAGE #}
						{% if page.anchor == lessonPage.anchor %}
							<i class="fa fa-dot-circle-o text-primary"></i>
						{% else %}
							{% set moduleProgress = attribute(progress, program ~ '_' ~ module.anchor) %}
							{% if moduleProgress is null %}
								<i class="far fa-circle"></i>
							{% else %}
								{# A timestamp by default that indicates time accessed, otherwise null or 'LTI_FAILED' #}
								{% set progressIndicator = attribute(moduleProgress, lessonPage.anchor) %}
								{% if progressIndicator == 'LTI_FAILED' %}
									<i class="fas fa-times-circle text-danger"></i>
								{% elseif progressIndicator == 'LTI_UNATTEMPTED' %}
									<i class="fas fa-minus-circle text-info"></i>
								{% elseif progressIndicator %}
									<i class="fas fa-check-circle text-success"></i>
								{% elseif progressIndicator is not null %}
									<i class="fas fa-minus-circle text-info"></i>
								{% elseif progressIndicator is null %}
									<i class="far fa-circle text-primary"></i>
								{% endif %}
							{% endif %}
						{% endif %}
						<span class="page-title">{{lessonPage.title}}</span>
					</div>
				</a>
			{% endfor %}
		</ul>
	{% endfor %}
</div>
