{% apply inline_css %}
<style>
	.generic-contents .content-item {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endapply %}

{% macro renderContent(content, authorized, ltiRoot, urlRoot) %}
	{% if content.type == "TEXT" %}
		{% for text in content.paragraphs %}
			<div>{{text | raw}}</div>
		{% endfor %}
	{% elseif content.type == "VIDEO" %}
		{% set video = content.video %}
		{% include 'generic-video-content.twig' %}
	{% elseif content.type == "LTI" %}
		{% set lti = content.lti %}
		{% include 'generic-lti-content.twig' %}
	{% elseif content.type == "LINK" %}
		{% if content.link.icon %}
			<span class="fa {{content.link.icon}}" aria-hidden="true"></span>
		{% endif %}
		{% if 'http' in content.link.url %}
			<a target="_blank" href="{{content.link.url}}">{{content.link.title | raw}}</a>
		{% else %}
			<a target="_blank" href="{{urlRoot}}{{content.link.url}}">{{content.link.title | raw}}</a>
		{% endif %}	
	{% elseif content.type == "ORDERED_LIST" %}
		<ol>
			{% for listContent in content.orderedList.contents %}
				<li>
					{{_self.renderContent(listContent) | raw}}
				</li>
			{% endfor %}
		</ol>
	{% elseif content.type == "UNORDERED_LIST" %}
		<ul class="list-group list-group-flush">
			{% for listContent in content.unorderedList.contents %}
				<li class="list-group-item">
					{{_self.renderContent(listContent) | raw}}
				</li>
			{% endfor %}
		</ul>
	{% elseif content.type == "MAP" %}
		<div class="constraint-box">
			<div class="videoWrapper">
				<iframe class="d-flex" src="{{ content.map }}" style="border:0;width:100%;height:auto;min-height:600px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	{% endif %}
{% endmacro %}

<div class="generic-contents">
	{% for content in contents %}
		<div class="content-item">
			{{_self.renderContent(content, authorized, ltiRoot, urlRoot)}}
		</div>
	{% endfor %}
</div>
