{% if registrations | length == 0 %}
	<h6 style="text-align: center;" class="p-5 w-100">No registrations found.</h6>
{% else %}
	<table class="table" aria-label="{{whichKind}} registrations">
		<tbody>
			<tr class="align-items-center">
				<th></th>
				<th scope="col">
					{% if registration.duration %}
						Duration
					{% endif %}
				</th>
				<th class="registrationTableHeader" scope="col">Date & Time</th>
				<th class="registrationTableHeader" scope="col">Location</th>
				<th class="registrationTableHeader" scope="col">Registration Status</th>
			</tr>
			{% for registration in registrations %}
				<tr>
					<th class="registrationModuleTitle" scope="row">
						{% if registration.session %}
							<div>
								{% if registration.icon %}
									<i class="fa {{registration.icon}} pe-1" aria-hidden="true"></i>
								{% endif %}
								{{registration.session}}
							</div>
						{% endif %}
						<h5>
							<a class="modulePageLink" href="{{registration.moduleUrl}}">{{registration.title}}</a>
						</h5>
						<a class="programPageLink" href="{{registration.programUrl}}">{{registration.program}}</a>
					</th>
					<td>
						{% if registration.duration %}
							<span class="card-data-span">
								<span class="far fa-clock" aria-hidden="true"></span>
								{{registration.duration}}
							</span>
						{% endif %}
					</td>
					<td>
						<div class="d-flex flex-column align-items-center">
							<span>{{registration.displaydate}}</span>
							<span>{{registration.displaytime}}</span>
						</div>
					</td>
					<td class="text-center">
						<div class="d-flex justify-content-center">
							{{registration.session_location}}
						</div>
						{% if registration.meeting_link and registration.attendance_status == 'REGISTERED' %}
							<a class="btn btn-outline-primary mt-1" href="{{ registration.meeting_link }}" target="_blank">
								Launch Zoom Session
							</a>
						{% endif %}
					</td>
					<td style="vertical-align: middle;">
						<div class="d-flex justify-content-center">
							<h5>
								{% if registration.attendance_status == 'REGISTERED' %}
									<span class="badge badge-primary">Registered</span>
								{% elseif registration.attendance_status == 'ATTENDED' %}
									<span class="badge badge-success">Attended</span>
								{% elseif registration.attendance_status == 'ABSENT' %}
									<span class="badge badge-danger">Absent</span>
								{% endif %}
							</h5>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
